footer {
	@extend %clearfix;
	width: 100vw;
	.footer-section {
		width: 100%;
		padding: 2rem 2rem;
		box-sizing: border-box;
		display: block;
		float:left;
	}
	.footer-social {
		background: lighten($light-green,14%);
		color: white;
		.social-container {
			display: block;
			box-sizing: border-box;
			padding: 1rem 2rem;
			border: 1px solid white;
			background: rgba($bluegrey, .16);
			border-radius: 6px;
		}
		h2 {
			font-size: $h2;
			span {
				font-weight: bold;
			}
		}
		a {
			display: block;
			font-weight: bold;
			font-size: $h1;
			margin: .625em 0;
			@include breakpoint($medium) {
				width: 30%;
				display: inline-block;
				box-sizing: border-box;
				text-align: center;
				&:nth-of-type(2) {
					border: 1px solid rgba(255,255,255,0.64);
					border-width: 0 1px 0;
					margin: 3%;
				}
			}
		}
	}
	.footer-signup {
		background: $bluegrey;
		color: white;
		border-bottom: 2px solid rgba(255,255,255,.12);
		@include breakpoint($medium) {
			width:50%;
			height:340px;
			border-right:1px solid rgba(255,255,255,.12);
		}
		form.signup-form {
			box-sizing: border-box;
			width: 100%;
			input {
				font-family: $site-font;
				font-size: $base;
				box-sizing: border-box;
				width: 100%;
				padding: 1em;
				margin: .5em 0;
				border: 0;
				border-radius: 2px;
			}
			button {
				box-sizing: border-box;
				width: 100%;
				padding: .75em;
				margin: .5em 0;
				border: 0;
				border-radius: 2px;
				color:white;
				font-weight: bold;
				font-size: $h5;
				font-family: $site-font;
				text-transform: uppercase;
				background: rgba(white,.24);
			}
		}
		h2 {
			font-size: $h3;
			span {
				font-weight: bold;
			}
		}
	}
	.footer-links {
		background: $bluegrey;
		color: white;
		@include breakpoint($medium) {
			width:50%;
			height:340px;
		}
		h2 {
			font-size: $h3;
			span {
				font-weight: bold;
			}
		}
		a {
			display: block;
			width: 100%;
			text-align: center;
			background: rgba(white,.24);
			padding: 1em 0;
			margin: 1em 0;
			font-weight: 500;
			border-radius: 2px;
			
		}
	}
	.footer-copyright {
		text-align: center;
		p {
			font-size:$mini;
		}
		img {
			display: block;
			width:200px;
			margin: auto;
		}
	}
}